<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head></head>

<body>
    <div layout:fragment="content">
        <div class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-text">
                            <h1>Откройте счёт</h1>
                            <div class="div-dec"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="service-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="section-heading">
                            <h4>Выбирите свой план</h4>
                        </div>
                    </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="naccs">
                            <div class="tabs">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="menu">
                                            <div class="active gradient-border"><span>Карта Elite</span></div>
                                            <div class="gradient-border"><span>Карта Wish</span></div>
                                            <div class="gradient-border"><span>Накопительный счёт</span></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <ul class="nacc">
                                            <li class="active">
                                                <div сlass="col-lg-12">
                                                    <div class="left-image">
                                                        <img src="../assets/images/debit_card.png" alt="">
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>Дебетовая карта с лучшими условиями</h4>
                                                        <span>- Первый год обслуживания беслпатно</span>
                                                        <span>- Кешбэк до 15% </span>
                                                        <span>- Переводы до 1000000 рублей в месяц бесплатно</span>
                                                        <span>- Счёт в рублях</span>
                                                        <div class="green-button">
                                                            <a href="/user/newaccount?card=debit">Оформить</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="left-image">
                                                        <img src="../assets/images/credit_card.png" alt="">
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>Кредитная карта, исполняющая желания</h4>
                                                        <span>- Кредитный лимит до 300000 рублей</span>
                                                        <span>- Без процентов на первый год</span>
                                                        <span>- Счёт в рублях</span>
                                                        <div class="green-button">
                                                            <a href="/user/newaccount?card=credit">Оформить</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div>
                                                    <div class="bank-image">
                                                        <img src="../assets/images/bank_vault.png" alt="">
                                                    </div>
                                                    <div class="right-content">
                                                        <h4>Накопительный счёт, приносящий доход</h4>
                                                        <span>- На год</span>
                                                        <span>- 10% годовых</span>
                                                        <span>- Счёт в долларах</span>
                                                        <div class="green-button">
                                                            <a href="/user/newaccount?card=deposit">Открыть</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>

        </section>
    </div>
</body>