<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head></head>

<body>

  <div layout:fragment="content">
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-text">
              <h1>Личный кабинет</h1>
              <h2 th:text="${user.fullName()}"></h2>
              <div class="div-dec"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ***** Main Banner Area End ***** -->

    <section class="service-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="naccs">
              <div class="tabs">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="menu">
                      <div class="active gradient-border"><span>Счета</span></div>
                      <div class="gradient-border"><span>Операции</span></div>
                      <div class="gradient-border"><span>История</span></div>
                      <div class="gradient-border"><span>Профиль</span></div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <ul class="nacc">
                      <li class="active">
                        <div>
                          <div class="col-lg-10 offset-lg-1">
                            <div class="accordions is-first-expanded">
                              <article class="accordion">
                                <div class="accordion-head">
                                  <span>Кошелёк</span>
                                  <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                  </span>
                                </div>
                                <div class="accordion-body">
                                  <div class="content">
                                    <div th:if="${debit.isEmpty()}">
                                      <p>
                                        У вас пока нет дебетовых счетов
                                      </p>
                                    </div>
                                    <div th:if="${!debit.isEmpty()}">
                                      <div class="col-lg-12">
                                        <table class="table">
                                          <thead calss="thead-dark">
                                            <th scope="col"> Номер счёта </th>
                                            <th scope="col"> Баланс</th>
                                            <th scope="col"> Номер карты</th>
                                          </thead>
                                          <tbody>
                                            <tr th:each="acc : ${debit}">
                                              <td th:text="${acc.getNumber()}"></td>
                                              <td th:text="${acc.getBalance()}" class="money"> </td>
                                              <td> <a th:text="${acc.card == null} ? '-' : ${acc.card.getNumber()}" th:href="@{/user/card/{id}(id=${acc.card.id})}"> </a></td>                                            
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </article>
                              <article class="accordion">
                                <div class="accordion-head">
                                  <span> Вклады и счета</span>
                                  <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                  </span>
                                </div>
                                <div class="accordion-body">
                                  <div class="content">
                                    <div th:if="${deposit.isEmpty()}">
                                      <p>
                                        У вас пока нет вкладов или депозитных счетов
                                      </p>
                                    </div>
                                    <div th:if="${!deposit.isEmpty()}">
                                       <div class="col-lg-12">
                                        <table class="table">
                                          <thead calss="thead-dark">
                                            <th scope="col"> Номер вклада </th>
                                            <th scope="col"> Баланс</th>
                                            <th scope="col"> Процент</th>
                                          </thead>
                                          <tbody>
                                            <tr th:each="acc : ${deposit}">
                                              <td th:text="${acc.getNumber()}"></td>
                                              <td th:text="${acc.getBalance()}" class="money"> </td>
                                              <td th:text=" ${acc.multiplicator - 100}+'%'"></td>                                            
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </article>
                              <article class="accordion">
                                <div class="accordion-head">
                                  <span>Кредиты</span>
                                  <span class="icon">
                                    <i class="icon fa fa-chevron-right"></i>
                                  </span>
                                </div>
                                <div class="accordion-body">
                                  <div class="content">
                                    <div th:if="${credit.isEmpty()}">
                                      <p>
                                        У вас пока нет кредитных счетов
                                      </p>
                                    </div>
                                    <div th:if="${!credit.isEmpty()}">
                                      <div class="col-lg-12">
                                        <table class="table">
                                          <thead calss="thead-dark">
                                            <th scope="col"> Номер кредитного счёта</th>
                                            <th scope="col"> Баланс</th>
                                            <th scope="col"> Процент</th>
                                            <th scope="col"> Номер карты</th>
                                          </thead>
                                          <tbody>
                                            <tr th:each="acc : ${credit}">
                                              <td th:text="${acc.getNumber()}"></td>
                                              <td th:text="${acc.getBalance()}" class="money"> </td>
                                              <td th:text=" ${acc.multiplicator - 100}+'%'"></td>       
                                              <td> <a th:text="${acc.card == null} ? '-' : ${acc.card.getNumber()}" th:href="@{/user/card/{id}(id=${acc.card.id})}"> </a></td>                                     
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                  </div>
                                </div>
                              </article>
                            </div>
                          </div>
                      </li>
                      <li>
                        <div class="container">
                          <section class="what-we-do">
                            <div class="col-lg-8 offset-lg-2">
                              <div class="right-items">
                                <div class="row">
                                  <div class="col-lg-6">
                                    <a href="/user/self">
                                      <div class="item">
                                        <em>01</em>
                                        <h4>Между своими</h4>
                                        <p>
                                          Переводите между любыми своими счетами, вкладами и картами
                                        </p>
                                      </div>
                                    </a>
                                  </div>
                                  <div class="col-lg-6">
                                    <a href="/user/byphone">
                                      <div class="item">
                                        <em>02</em>
                                        <h4>По номеру телефона</h4>
                                        <p>Переводите другому человеку по номеру телефона
                                        </p>
                                      </div>
                                    </a>
                                  </div>
                                  <div class="col-lg-6">
                                    <a href="/user/bycard">
                                      <div class="item">
                                        <em>03</em>
                                        <h4>На карту</h4>
                                        <p>Переводите по номеру карты любому человеку
                                        </p>
                                      </div>
                                    </a>
                                  </div>
                                  <div class="col-lg-6">
                                    <a href="/user/newaccount">
                                      <div class="item">
                                        <em>04</em>
                                        <h4>Новый счёт</h4>
                                        <p>Откройте новый счёт в нашем банке или выпустите новую карту
                                        </p>
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                        </div>
                        <section></section>
                      </li>
                      <li>
                        <div class="col-lg-10 offset-lg-1">
                          <div th:if="${transactions.isEmpty()}">
                            <h3>У вас ещё нет истории</h3>
                          </div>
                          <div th:if="${!transactions.isEmpty()}">
                            <div class="col-lg-12">
                              <table class="table">
                                <thead calss="thead-dark">
                                  <th scope="col"> Отправитель</th>
                                  <th scope="col"> Получатель </th>
                                  <th scope="col"> Сумма </th>
                                  <th scope="col"> Время</th>
                                  <th scope="col"> Дата</th>
                                </thead>
                                <tbody>
                                  <tr th:each="tr : ${transactions}">
                                    <td th:text="${tr.getSenderAccountNumber()}"></td>
                                    <td th:text="${tr.getRecieverAccountNumber()}"></td>
                                    <td class="money" th:text="${tr.getAmount()} + ${tr.currency.getSymbol()}" > </td>
                                    <td th:text="${tr.getTime()}"></td>     
                                    <td th:text="${tr.getDate()}"></td>     
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                      </li>
                      <li>
                        <section>
                          <div class="col-lg-10 offset-lg-1">
                            <div class="container">
                              <form>
                                <table class="table">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col">Параметр</th>
                                      <th scope="col">Значение</th>
                                      <th scope="col">Поменять на</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Имя</th>
                                      <td>Имя</td>
                                      <td><input type="text" /> </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <button type="submit" class="orange-button"> Подтвердить</button>
                              </form>
                            </div>
                          </div>
                        </section>
                        <section>

                        </section>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
    </section>
  </div>
</body>

</html>