<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>

</head>

<body>
  <div layout:fragment="content">
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-text">
              <h2>Страница успеха</h2>
              <div class="div-dec"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
        <div class="col-lg-6 offset-lg-3">
          <h1>Новый счёт успешно открыт</h1>
        </div>
        <br>
        <div class="col-lg-6 offset-lg-5">
          <div class="orange-button">
            <a href="/user/profile">Профиль</a>
          </div>
        </div>
    </section>
    <br>
    <br>
  </div>
</body>