<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankPage</title>
    <link rel="stylesheet" href="../style.css">
</head>
<style>
    .raz{border: 1px solid red;}
.sticky{position: sticky;
        top:0;
        min-height:2em;}
.faces{display:inline-block;}
.faces img{display:block;}
.div1{display:inline;}
</style>
<body style="background-color:#EBB582">

<div class="sticky">
    <div class = "raz" style="background-color:#EB8A3E">

        <div class="div1"><p align="center"><b><FONT size="5">MyBank</FONT></b></p>
            <p align="right"><a href="registration_page.html">Регистрация нового пользователя</a></p></div>
    </div>
</div>


<h1><b>Наши преимущества:</b></h1>
<FONT size =5><ul>
    <li>Разрабатывается студентами лучшего ВУЗа страны</li>
    <li>Современные технологии</li>
    <li>Неконсольный дизайн</li>
    <li>Хорошая оценка по ТП</li>
</ul></FONT>
<h2>Наша команда:</h2>
<div id="images">
    <div class="faces">
        <img src="images/Sasha.jpg" width="253" height="299">
        Александр Акантьев
    </div>
    <div class="faces">
        <img src="images/Vasya.jpg" width="302" height="299">
        Василий Ермаков
    </div>
</div>

</body>
</html>