<!DOCTYPE html>
<body>
    <div th:fragment = "block">
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <h1>
                                <font color="FFFFFF">MyBank_app</font>
                            </h1>
                            <!-- Menu -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="index.html">Список предлагаемых услуг</a></li>
                                <li class="scroll-to-section"><a href="index.html">Связаться с нами</a></li>
                                <li class="scroll-to-section"><a href="index.html">Домашняя страница</a></li>
                            </ul>        
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- Menu End -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>