<!DOCTYPE html>
<body>
    <div th:fragment = "block">
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            
                            <a href="index.html" class="logo">
                                <img src="assets/images/new_logo.png" height="150pt" alt="">
                            </a>
                            <!-- Menu -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="">Связаться с нами</a></li>
                                <li class="scroll-to-section"><a href="">Домашняя страница</a></li>
                                <li class="scroll-to-section"><a href="">Сервис</a></li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Навигация</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-us.html">О нас</a></li>
                                        <li><a href="our-services.html">Список предлагаемых функций</a></li>
                                        <li><a href="contact-us.html">Связь</a></li>

                                    </ul>
                                </li>
                                <li><a href="user/login">Войти</a></li> 
                            </ul>        
                            <a class='menu-trigger'>
                                <span>Меню</span>
                            </a>
                            <!-- Menu End -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>