<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body style="background-color:#EBB582">
    <center><h1><FONT size="6">Регистрационная модель:</FONT></h1>
    <form method="POST" action="userAccount"><FONT size="6" >
        <div>
            <label for="name">Name</label>
            <input name="name" type="text" id="name"/><br>

            <label for="surname">Surname</label>
            <input name="surname" type="text" id="surname"/><br>

            <input type="submit" value="Add person"/>
        </div>
    </FONT>
    </form>
    <p><a href="userAccount">Перейти в свой аккаунт</a></p>
</center>

</body>
</html>
