<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserAcc</title>
</head>


<body style="background-color:#EBB582">

<style>
    .border{border-style:solid;border-color:#EB8A3E;background-color:#EB8A3E}
</style>

<div class="sticky">
    <div class = "raz" style="background-color:#EB8A3E">
        <div class="div1"><p align="center"><b><FONT size="5">MyBank</FONT></b></p>
            <p align="right">UserName</p></div>
    </div>
</div>

<div class="border">
    счёт
</div>

</body>
</html>