<!DOCTYPE html>
<body>
    <div th:fragment="advantages">
        <section class="services" id="services">
            <h1><center>Наши преимущества</center></h1>
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="service-item">
                    <i class="fas fa-archive"></i>
                    <h4>Подключение многих полезных функций</h4>
                    <p></p>
                 </div>
                </div>
                <div class="col-lg-6">
                  <div class="service-item">
                    <i class="fas fa-cloud"></i>
                    <h4>Красивый дизайн</h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="service-item">
                    <i class="fas fa-charging-station"></i>
                    <h4>Работа с преподавателями лучшего вуза страны</h4>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="service-item">
                    <i class="fas fa-suitcase"></i>
                    <h4>Высокая оценка по Java</h4>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</body>