<!DOCTYPE html>
<body>
    <div th:fragment="team">
          <section class="testimonials" id="testimonials">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <div class="section-heading">
                    <h6>Наша команда</h6>
                  </div>
                </div>
                <div class="col-lg-10 offset-lg-1">
                  <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
                    <div class="item">
                      <i class="fa fa-quote-left"></i>
                      <p>Студент МФТИ, специализирующийся на фронте</p>
                      <span>Ермаков Василий</span>
                      <div class="right-image">
                        <img src="assets/images/Vasya.jpg" alt="">
                      </div>
                    </div>
                    <div class="item">
                      <i class="fa fa-quote-left"></i>
                      <p>Студент МФТИ, выполняющий бэк-разработку</p>
                      <span>Акантьев Александр</span>
                      <div class="right-image">
                        <img src="assets/images/Sasha.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
          <section class="partners">
            <div class="container">
              <div class="row">
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="item">
                    <img src="assets/images/1c_logo.png" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="item">
                    <img src="assets/images/МФТИ.png" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="item">
                    <img src="assets/images/1c_logo.png" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="item">
                    <img src="assets/images/МФТИ.png" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="item">
                    <img src="assets/images/1c_logo.png" alt="">
                  </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="item">
                    <img src="assets/images/МФТИ.png" alt="">
                  </div>
                </div>
                </div>
              </div>
          </section>
    </div>
</body>