<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head></head>

<body>
    <div layout:fragments="content">
        <div class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg12">
                        <div class="heading">
                            <h2 align="center">Контакты команды:</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            Акантьев Александр +7(913)530-08-18
        </div>
        <div>
            Ермаков Василий Павлович +7(985)333-02-46 Email: ermakov.vp@phystech.edu
        </div>
    </div>
</body>

</html>